In [ ]:
# Total Chapters Here:
#    CHAPTER 4: ARRAY IMPLIMENTATION
#    CHAPTER 6: PYTHON KEYWORDS AND IDENTIFIERS
#    CHAPTER 7: TUPLES ELEMENT
#    CHAPTER 8: PYTHON SETS

In [ ]:
# CHAPTER 4: ARRAY IMPLIMENTATION

In [18]:
# accessing index
arr = [10,20,30,40,50]
print(arr)
print(arr[0])
print(arr[1])
print(arr[-1])
print(arr[-2])

[10, 20, 30, 40, 50]
10
20
50
40

In [21]:
# length, append
ppl = ["Saju","Raju", "Shanta", "Shakia", "Moni"]
print(ppl)
print(len(ppl))
ppl.append("Anamika")
print(ppl)

['Saju', 'Raju', 'Shanta', 'Shakia', 'Moni']
5
['Saju', 'Raju', 'Shanta', 'Shakia', 'Moni', 'Anamika']

In [22]:
# Removing elements
print(ppl)
del ppl[1]
print(ppl)
ppl.remove("Shakia")
print(ppl)
ppl.pop()
print(ppl)
ppl.pop(1)
print(ppl)

['Saju', 'Raju', 'Shanta', 'Shakia', 'Moni', 'Anamika']
['Saju', 'Shanta', 'Shakia', 'Moni', 'Anamika']
['Saju', 'Shanta', 'Moni', 'Anamika']
['Saju', 'Shanta', 'Moni']
['Saju', 'Moni']

In [24]:
# Modify
dept = ["CSE", "EEE", "ECE", "PHY", "CHE"]
print(dept)
dept[0] = "IT"
print(dept)
dept[-1] = "MATH"
print(dept)

['CSE', 'EEE', 'ECE', 'PHY', 'CHE']
['IT', 'EEE', 'ECE', 'PHY', 'CHE']
['IT', 'EEE', 'ECE', 'PHY', 'MATH']

In [25]:
# concatenation
num = [0,1,7,6,6,6]
print(num)
num += [0,1,9,3,2]
print(num)

[0, 1, 7, 6, 6, 6]
[0, 1, 7, 6, 6, 6, 0, 1, 9, 3, 2]

In [28]:
#repeat
rep = ["Moni"]
print(rep)
rep *= 5
print(rep)

['Moni']
['Moni', 'Moni', 'Moni', 'Moni', 'Moni']

In [37]:
# slicing 
mov = ["lighthouse", "amily", "schindler", "spirited", "godfather", "darkcity"]
print(mov)
print(mov[1:4])
print(mov[:3])
print(mov[-4:])
print(mov[-3:-1])
print(mov[-4:3])

['lighthouse', 'amily', 'schindler', 'spirited', 'godfather', 'darkcity']
['amily', 'schindler', 'spirited']
['lighthouse', 'amily', 'schindler']
['schindler', 'spirited', 'godfather', 'darkcity']
['spirited', 'godfather']
['schindler']

In [41]:
# multi dimentional 
multd = [[2,4], [4,6], [8,10]]
print(multd)
print(multd[0])
print(multd[2][1])

[[2, 4], [4, 6], [8, 10]]
[2, 4]
10

In [ ]:
# CHAPTER 6: PYTHON KEYWORDS AND IDENTIFIERS

In [43]:
# None
print(None == 0)
print(None == False)
print(None == [])
print(None == None)

False
False
False
True

In [45]:
# as
import math as myMath
print(myMath.pi)
print(myMath.cos(myMath.pi))

3.141592653589793
-1.0

In [3]:
# assert
assert 5 > 4
assert 5 == 5
# assert 5 < 5    #AssertionError

In [4]:
# break
for i in range(1,11):
    if i == 5:
        break
    print(i)

1
2
3
4

In [5]:
# continue
for i in range(1,8):
    if(i%2 == 0):
        continue
    print(i)

1
3
5
7

In [4]:
# del
a = 10
print(a)
del a
# print(a) #NameError

10

In [18]:
# if elif else
num = 4
if num ==1 :
    print('One')
elif num == 2:
    print('Two')
else:
    print('Something else')

Something else

In [11]:
# try raise except finally
# ERROR HANDLING
try:
    x = 9
    y = 0
    z = x/y
    if(y == 0):
        raise ZeroDivisionError
except ZeroDivisionError:
        print("Division cannot be performed")
finally:
        print("Execution successful")

# Pring error message
print()
try:
  print(xyz)
except NameError:
  print("Variable is not defined")
except:
  print("Something else went wrong")

# Pring default error message
print()
try:
  print(xyz)
except Exception as e:
  print("An exception occurred: ", e)

# Printing default error message when ZeroDivisionOccur
print()
try:
   x=5  
   print(x/0)
except Exception as e:
  print(e)

Division cannot be performed
Execution successful

Variable is not defined

An exception occurred:  name 'xyz' is not defined

division by zero

In [38]:
# for, range, iterator
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [14]:
# from import 
# import math    
from math import cos    # instead of import whole math

print(cos(30))

0.15425144988758405

In [47]:
# global
globalvar = 10
def read1():
    print(globalvar)
def write1():
    global globalvar
    globalvar = 5
def write2():
    globalvar = 15
    
read1()
write1()
read1()
write2()
read1()

10
5
5

In [51]:
# in, not in
a = [1,3,5,7,10,11,13]
print(11 in a)

print(6 not in a)

True
True

In [53]:
# is
num = "SA"
print(num is "SA")

True

<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-53-8a3d04e761c9>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print(num is "SA")

In [54]:
# lambda: annonymous function
a = lambda x: x*x

for i in range(1,5):
    print(i,a(i))

1 1
2 4
3 9
4 16

In [57]:
# nonlocal
def outer_fun():
    a = 5
    def inner_fun():
        nonlocal a
        a = 10
        print("Inner function: ",a)
    inner_fun()
    print("Outer function: ",a)
outer_fun()

Inner function:  10
Outer function:  10

In [58]:
# return
def fun_return():
    a = 10
    return a
print(fun_return())

10

In [60]:
# while
i = 5
while(i>0):
    print(i)
    i -= 1

5
4
3
2
1

In [61]:
# with
with open('pyTxt.txt', 'w') as my_file:
    my_file.write('Kill')

In [62]:
# yield
def generator():
    for i in range(1,5):
        yield i*i
g = generator()
for i in g:
    print(i)

1
4
9
16

In [ ]:
# CHAPTER 7: TUPLES ELEMENT

In [2]:
# tuple
tuple1 = ()
print(tuple1)
tuple2 = (1,2,3)
print(tuple2)
# heratogenious/mixed data type
tuple3 = (101, "Sazzad", 200.19, "CSE")
print(tuple3)

()
(1, 2, 3)
(101, 'Sazzad', 200.19, 'CSE')

In [8]:
# nested tuple
# string, list, tuple
tuple4 = ("points", [1,4,3], (7,8,5))
print(tuple4)
# tuple with no pareanthesis
tuple5 = 101, "Sazzad", 200.19, "CSE"
print(tuple5)
# tuple unpacking
emid, name, salary, dept = tuple5
print(emid, dept)

('points', [1, 4, 3], (7, 8, 5))
(101, 'Sazzad', 200.19, 'CSE')
101 CSE

In [17]:
# accessing elements
nest_tuple = ("points", [1,4,3], (7,8,5))
print(nest_tuple)
print(nest_tuple[0])
print(nest_tuple[0][3])
print(nest_tuple[1][1])
print(nest_tuple[2][2])
print(len(nest_tuple[1]))

('points', [1, 4, 3], (7, 8, 5))
points
n
4
5
3

In [18]:
# slicing tuple
tuple6 = ('w','e','l','c','o','m','e')
print(tuple6[1:3])
print(tuple6[:-3])
print(tuple6[3:])
print(tuple6[:])

('e', 'l')
('w', 'e', 'l', 'c')
('c', 'o', 'm', 'e')
('w', 'e', 'l', 'c', 'o', 'm', 'e')

In [21]:
# tuple elements are immutable
tuple7 = ('w','e','l','c','o','m','e')
print(tuple7)
# tuple7[3] = 'x' #type error
# reassign possible
tuple7 = ('g','o','o','d','b','y','e','!')
print(tuple7)

('w', 'e', 'l', 'c', 'o', 'm', 'e')
('g', 'o', 'o', 'd', 'b', 'y', 'e', '!')

In [24]:
# concatenation of tuple
tuple8 = ('w','e','l')
tuple9 = ('c','o','m','e')
print(tuple8+tuple9)

print(('again',) * 4)

('w', 'e', 'l', 'c', 'o', 'm', 'e')
('again', 'again', 'again', 'again')

In [37]:
# deletion
tuple10 = ('c','o','m','e')
# del tuple10[2] #typeError

# delete entire tuple
del tuple10
if'tuple10' in globals():
    print('exists')
elif'tuple10' in locals():
    print('exists')
else:
    print('not exists')

not exists

In [1]:
# tuple method: coount, index
tuple11 = ('w','e','l','c','o','m','e')
print(tuple11.count('e'))
print(tuple11.index('c'))

2
3

In [47]:
# tuple operation: in, not in
tuple12 = ('w','e','l','c','o','m','e')
print('c' in tuple12)
print('c' not in tuple12)
print('a' in tuple12)
print('a' not in tuple12)

True
False
False
True

In [49]:
# tuple iteration'
tuple13 = ('s','a','j','u')
for letter in tuple13:
    print(letter)

s
a
j
u

In [54]:
# tuple built in fun: max, min, sorted, length
tuple14 = (22,33,55,42,90,62,18,54,24)
print(tuple14)
print("max: ", max(tuple14))
print("min: ", min(tuple14))
print("sorted: ", sorted(tuple14))
print("length: ", len(tuple14))

(22, 33, 55, 42, 90, 62, 18, 54, 24)
max:  90
min:  18
sorted:  [18, 22, 24, 33, 42, 54, 55, 62, 90]
length:  9

In [3]:
# CHAPTER 8: PYTHON SETS

In [4]:
# sets in python
my_set1 = {11,33,22,55,66,44}
print(my_set1)
# mixed data type
my_set1 = {201, "SHAM3R", (22,21,25)}
print(my_set1)
# when duplicate
my_set1 = {11,33,44,44,22,99,22}
print(my_set1)

{33, 66, 11, 44, 22, 55}
{'SHAM3R', 201, (22, 21, 25)}
{33, 99, 11, 44, 22}

In [7]:
# conversion
# set from list
my_set2 = set([1,2,3,2])
print(my_set2)
print(type(my_set2))
# list from set
my_list = list({1,2,3,4})
print(my_list)
print(type(my_list))

{1, 2, 3}
<class 'set'>
[1, 2, 3, 4]
<class 'list'>

In [31]:
# indexing, add, update, sorted
# set do not support indexing
my_set3 = {11,33,22,55,66,44}
print(my_set3)
# my_set3[3]    #TypeError
# add an item
my_set3.add(77)
print(my_set3)
# add multiple item
my_set3.update([99,88,77])
print(my_set3)
# add list and set
my_set3.update([99,100], {100,110,20})
print(my_set3)

{33, 66, 11, 44, 22, 55}
{33, 66, 11, 44, 77, 22, 55}
{33, 66, 99, 11, 44, 77, 22, 55, 88}
{33, 66, 99, 100, 11, 44, 77, 110, 20, 22, 55, 88}

In [19]:
# removing items
# discard, remove, pop, clear
my_set4 = {11,33,22,55,66,44}
my_set4.discard(4)   # no Error
print(my_set4)
# my_set4.remove(4)    # KeyError
my_set4.discard(22)
print(my_set4)
my_set4.remove(55)
print(my_set4)
my_set4.pop()
print(my_set4)
my_set4.clear()
print(my_set4)

{33, 66, 11, 44, 22, 55}
{33, 66, 11, 44, 55}
{33, 66, 11, 44}
{66, 11, 44}
set()

In [26]:
# union, intersection, difference, symmetric difference
# union
my_set5 = {33,22,55,66,44}
my_set6 = {'a','b',66,44}
print(my_set5 | my_set6)
# or
print(my_set5.union(my_set6))
# intersection
print(my_set5 & my_set6)
# or
print(my_set5.intersection(my_set6))
# difference
print(my_set5 - my_set6)
# or
print(my_set5.difference(my_set6))
# symmetric difference
print(my_set5 ^ my_set6)
# or
print(my_set5.symmetric_difference(my_set6))

{33, 66, 44, 22, 55, 'b', 'a'}
{33, 66, 44, 22, 55, 'b', 'a'}
{66, 44}
{66, 44}
{33, 22, 55}
{33, 22, 55}
{33, 55, 'b', 22, 'a'}
{33, 55, 'b', 22, 'a'}

In [27]:
# check membership
my_set7 = {33,22,55,77,44}
print(22 in my_set7)
print(22 not in my_set7)

True
False

In [28]:
# set iteration
my_set8 = {33,22,55,77,44}
for numbers in my_set8:
    print(numbers)

33
44
77
22
55

In [30]:
# build in function
my_set9 = {33,22,55,77,44}
print(my_set9)
print(len(my_set9))
print(max(my_set9))
print(min(my_set9))
print(sorted(my_set9))
print(type(my_set9))
print(type(sorted(my_set9)))

{33, 44, 77, 22, 55}
5
77
22
[22, 33, 44, 55, 77]
<class 'set'>
<class 'list'>

In [36]:
# frozenset
my_set10 = frozenset([33,22,55,77,44])
my_set11 = frozenset([22,88,99,22,77,111])
print(my_set10)
print(my_set11)
print(my_set10.difference(my_set11))
print(my_set10.union(my_set11))
print(my_set10.intersection(my_set11))
print(my_set10.symmetric_difference(my_set11))
# find differences between set and frozenset

frozenset({33, 44, 77, 22, 55})
frozenset({99, 77, 111, 22, 88})
frozenset({33, 44, 55})
frozenset({33, 99, 44, 77, 111, 22, 55, 88})
frozenset({77, 22})
frozenset({33, 99, 55, 88, 44, 111})